---
const { title, desc, link, cover } = Astro.props;
---

<a href={link} class="w-full md:w-1/2 bg-neutral-800 rounded-lg">
  <img
    class="w-full aspect-video object-cover rounded-tr rounded-tl"
    src={cover}
    alt="img failed to load"
  />
  <div class="w-full flex flex-col gap-2 p-6">
    <p class="font-bold text-slate-50">{title}</p>
    <p class="text-[14px] text-custom-1">
      {desc}
    </p>
    <p class="text-green-600 hover:text-green-500 flex items-center gap-2">
      Read more
    </p>
  </div>
</a>
