<nav class="max-w-[800px] p-6 mx-auto flex sticky top-0 bg-[#16161A]">
  <a href="/" class="uppercase text-slate-50 font-bold">Khai Haidari</a>
  <a
    href="https://forms.gle/xjuHWtoLz2rsnicM7"
    target="_blank"
    class="text-slate-400 hover:underline ml-auto">Contact</a
  >
</nav>
